@{
}
@model IEnumerable<SFWebUI.Models.ProductVM>
@{
    ViewData["itemName"] = "Details";
}

<h1>StoreFront Inventory</h1>


<table class="table table-striped table-hover">
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product ID</th>
        <th>Product Category</th>
        <th>Product Description</th>
        <th>Product Quantity</th>
        <th>Store ID</th>
    </tr>

    @foreach (var product in Model)
    {
<tr>
    <td>@Html.DisplayFor(model => product.ProductName)</td>
    <td>@Html.DisplayFor(model => product.ProductPrice)</td>
    <td>@Html.DisplayFor(model => product.ProductID)</td>
    <td>@Html.DisplayFor(model => product.ProductCategory)</td>
    <td>@Html.DisplayFor(model => product.ProductDescription)</td>
    <td>@Html.DisplayFor(model => product.Quantity)</td>
    <td>@Html.DisplayFor(model => product.StoreStoreID)</td>

</tr>
    }
</table>