@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* This tells you that this view will expect to retrieve a list of RestaurantVM *@
@model IEnumerable<SFWebUI.Models.StoreFrontVM>

<h1 class="display-4">List of StoreFronts</h1>

<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>ProductsList</th>
        <th></th>
    </tr>
    @foreach(StoreFrontVM item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StoreFrontId)</td>
            <td>@Html.DisplayFor(modelItem => item.StoreFrontName)</td>
            <td>@Html.DisplayFor(modelItem => item.StoreFrontAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductsList)</td>
            <td>
                <!--First parameter of ActionLink is the name it will give for this element -->
                <!--Second parameter will point to the action of the customer controller-->
                <!--Third parameter will give the information from the view to the controller-->

                <button class="btn btn-primary">@Html.ActionLink("View Inventroy", "Details", "StoreFront", new { s_id = item.StoreFrontId }, new { @style = "color: white" })</button>

            </td>
        </tr>
    }
</table>